<%= form_with(model: course) do |form| %>
  <% if course.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
        <% course.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<table class="table table-dark table-striped-columns">
  <div class="field form-group">
    <%= form.label :course_name, style: "display: block" %>
    <%= form.text_field :course_name, class:"field form-control", placeholder:"Name of the Course" %>
  </div>
  <br/>

  <div class="field form-group">
    <%= form.label :course_instructor, style: "display: block" %>
    <%= form.text_field :course_instructor, class:"field form-control", placeholder:"Name of the instructor of the Course"  %>
  </div>
   <br/>

  <div class="field form-group">
    <%= form.label :course_grading_criteria, style: "display: block" %>
    <%= form.text_field :course_grading_criteria, class:"field form-control", placeholder:"Grading criteria of the Course"  %>
  </div>
   <br/>

  <div class="field form-group">
    <%= form.label :courses_your_grade, style: "display: block" %>
    <%= form.text_field :courses_your_grade, class:"field form-control", placeholder:"Your overall grade from Course"  %>
  </div>
   <br/>

  <div class="field form-group">
    <%= form.label :course_comments, style: "display: block" %>
    <%= form.text_field :course_comments, class:"field form-control", placeholder:"Your comments about Course"  %>
  </div>
   <br/>


<br/>
  <div>
    <%= form.submit class:"btn btn-secondary" %>
  </div>
<% end %>

<%= form_with model: [@course, @week], local: true do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :files %>
    <%= f.file_field :files, multiple: true, class: "form-control" %>
  </div>

  <%= f.submit "Save Week", class: "btn btn-success" %>
<% end %>

  <div class="form-group">
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>

