<div id="<%= dom_id course %>">
  <p>
    <strong>Course name:</strong>
    <%= course.course_name %>
  </p>

  <p>
    <strong>Course instructor:</strong>
    <%= course.course_instructor %>
  </p>

  <p>
    <strong>Course grading criteria:</strong>
    <%= course.course_grading_criteria %>
  </p>

  <p>
    <strong>Courses your grade:</strong>
    <%= course.courses_your_grade %>
  </p>

  <p>
    <strong>Course comments:</strong>
    <%= course.course_comments %>
  </p>

</div>
