<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Course Name</th>
      <th>Instructor</th>
      <th>Grading Criteria</th>
      <th>Your Grade</th>
      <th>Comments</th>
      <th>Actions</th> <!-- Add a new column for the buttons -->
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.course_name %></td>
        <td><%= course.course_instructor %></td>
        <td><%= course.course_grading_criteria %></td>
        <td><%= course.courses_your_grade %></td>
        <td><%= course.course_comments %></td>
        <td>
          <!-- Add action buttons here -->
          <%= link_to 'Show', course_path(course), class: 'btn btn-secondary btn-sm' %>
          <%= link_to 'Edit', edit_course_path(course), class: 'btn btn-primary btn-sm' %>
          <%= button_to 'Destroy', course_path(course), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm', style: 'padding: 2px 5px; font-size: 12px;' %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>
