<p style="color: green"><%= notice %></p>

<%= render @course %>



<div>
  <%= link_to "Edit this course", edit_course_path(@course), class: "btn btn-secondary" %> |
  <%= link_to "Back to courses", courses_path, class: "btn btn-secondary" %> |
  <%= link_to 'Add New Week', new_course_week_path(@course), class: 'btn btn-primary' %> 
  
  <p><%= button_to "Destroy this course", @course, method: :delete, class: "btn btn-dark" %></p>
</div>

<h2>Uploaded Weeks</h2>
<% if @weeks.present? %>
  <% @weeks.each do |week| %>
    <h3>Week: <%= week.title %></h3>
    <p><%= week.content %></p>
    
    <% if week.files.attached? %>
      <h4>Files:</h4>
      <ul>
        <% week.files.each do |file| %>
          <li><%= link_to file.filename, url_for(file), target: "_blank" %></li>
        <% end %>
      </ul>
    <% else %>
      <p>No files uploaded for this week.</p>
    <% end %>

   
    <div class="week-actions">
      <%= link_to 'Edit Week', edit_course_week_path(@course, week), class: 'btn btn-secondary' %>
      <%= button_to 'Delete Week', course_week_path(@course, week), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    </div>

    <hr>
  <% end %>
<% else %>
  <p>No File have been added to this course yet.</p>
<% end %>
