<div class="d-flex justify-content-center align-items-center min-vh-150">
  <div class="col-md-4">
    <h2 class="text-center mb-4">Register</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form-horizontal" }) do |f| %>
      <!-- Email Field -->
      <div class="form-group">
        <%= f.label :email, class: "col-sm-3 control-label" %>
        <div class="col-sm-9">
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>
      </div>

      <!-- Password Field -->
      <div class="form-group">
        <%= f.label :password, class: "col-sm-3 control-label" %>
        <div class="col-sm-9">
          <%= f.password_field :password, autocomplete: 'new-password', class: "form-control" %>
        </div>
      </div>

      <!-- Password Confirmation Field -->
      <div class="form-group">
        <%= f.label :password_confirmation, class: "col-sm-3 control-label" %>
        <div class="col-sm-9">
          <%= f.password_field :password_confirmation, autocomplete: 'new-password', class: "form-control" %>
        </div>
      </div>

      <!-- Submit Button -->
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <%= f.submit "Sign up", class: "btn btn-primary btn-block" %>
        </div>
      </div>
    <% end %>

    <!-- Link to Login if Already Registered -->
    <p class="mt-3 text-center">Already have an account? <%= link_to "Log in", new_user_session_path, class: "btn btn-link" %></p>
  </div>
</div>
